___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    
    nums = [a,b]
    odd_even_list = []
    
    for num in nums:
        if num % 2 == 0:
            odd_even_list.append(0)
        else:
            odd_even_list.append(1)
            
    if 1 in odd_even_list:
        return max(nums)
    else:
        return min(nums)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [11]:
def animal_crackers(text):
    splited_text = text.split(' ')
    
    if splited_text[0][0].lower() == splited_text[1][0].lower():
        return True
    else:
        return False

In [12]:
# Check
animal_crackers('Levelheaded Llama')

True

In [13]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [20]:
def makes_twenty(n1,n2):
    
    params = [n1,n2]
    
    if (n1+n2 == 20 )or (20 in params):
        return True
    else:
        return False

In [21]:
# Check
makes_twenty(20,10)

True

In [22]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [47]:
def old_macdonald(name):
    
    new_word = ''
    for i in range(0,len(name)):
        if (i == 0 or i == 3):
            new_word +=name[i].capitalize()
        else:
            new_word +=name[i]
    
    return new_word

In [49]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [58]:
def master_yoda(text):
    text_list = text.split(' ')
    
    text_list.reverse()
    
    reversed_text = ' '.join(text_list)
    
    return reversed_text

In [59]:
# Check
master_yoda('I am home')
# tst_lst = ['hello','world']

# tst_lst.reverse()

# print(' '.join(tst_lst))

'home am I'

In [60]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [66]:
def almost_there(n):
    
    if (abs(100 - n) <= 10) or (abs(200 - n) <= 10):
        return True
    else:
        return False

In [67]:
# Check
almost_there(104)

True

In [68]:
# Check
almost_there(150)

False

In [69]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [208]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    else:
        return False

In [209]:
# Check
has_33([1, 3, 3])

True

In [210]:
# Check
has_33([1, 3, 1, 3])

False

In [211]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [84]:
def paper_doll(text):
    result = ''
    
    for word in text:
        result+=word*3
    return result

In [85]:
# Check
paper_doll('Hello')

# print('H'*3)

'HHHeeellllllooo'

In [86]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [98]:
def blackjack(a,b,c):
    nums = [a,b,c]
    
    if (a+b+c) <= 21:
        return (a+b+c)
    elif (a + b + c) > 21 and (11 in nums):
        if (a + b+ c) - 10 <= 21:
            return (a+b+c) - 10
    else:
        return 'Bust'

In [99]:
# Check
blackjack(5,6,7)

18

In [100]:
# Check
blackjack(9,9,9)

'Bust'

In [101]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [110]:
def summer_69(arr):
    lst_with_rm_numbers = [x for x in arr if x > 5 and x < 10]
    
    lst_without_numbers = []
    
    for l in arr:
        if l not in lst_with_rm_numbers:
            lst_without_numbers.append(l)
        
    result = 0
    for i in range(0,len(lst_without_numbers)):
        result+=lst_without_numbers[i]
    return result

In [111]:
# Check
summer_69([1, 3, 5])

9

In [112]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [113]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [128]:
def spy_game(nums):
    spy_text = ''
    
    for i in range(0,len(nums)):
#         print(nums[i])
        curr_text = str(nums[i])
        spy_text+=curr_text
        
        
    if '007' in spy_text:
        return True
    else:
        return False

In [129]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [130]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [131]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [197]:
# def count_primes(num):
    
def count_primes(p_num):
    count_of_prime_numbers = []
    
    for i in range(2,p_num+1):
        for j in range(2,i):
            if i % j == 0:
                break
        else:
            count_of_prime_numbers.append(i)
    return len(count_of_prime_numbers)

In [198]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!